# ==========================================
# VARIÁVEIS DE AMBIENTE (NUNCA SUBIR)
# ==========================================
.env
*.env

# ==========================================
# AMBIENTE VIRTUAL
# ==========================================
.venv/
venv/
env/

# ==========================================
# CACHES E ARQUIVOS GERADOS PELO PYTHON
# ==========================================
__pycache__/
*.py[cod]
*$py.class
